.survey {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.survey-btn {
  width: 12em;
  height: 4em;
  font-size: larger;
  margin: 2em;
  background-color: #cc5f00;
  color: white;
  cursor: pointer;
  border: none;
}

.que {
  width: 50vw;
}

.choiceButtons {
  width: 60px;
  height: 39px;
  border: 1px solid lightgray;
}

.InputButtons {
  width: 60px;
  height: 39px;
  cursor: pointer;
  border: 1px solid lightgray;
  background-color: orangered;
}

.option {
  width: 50vw;
  height: 39px;
  border: 1px solid lightgray;
}
